apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: ghcr.io/anand-1110/user-service:639de13
          imagePullPolicy: Always
          ports:
            - containerPort: 4000
          env:
            - name: MONGO_URL
              value: mongodb://atlas-mongo:27017/users
