apiVersion: apps/v1
kind: Deployment
metadata:
  name: atlas-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: atlas-postgres
  template:
    metadata:
      labels:
        app: atlas-postgres
    spec:
      containers:
        - name: postgres
          image: postgres
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_PASSWORD
              value: postgres
